@charset "UTF-8";

.section2 {
  height: 700px;
  background-color: #fff;
  color: #000;
  padding: 0;
}

.section2__titulo {
  font-size: 40px;
}

.section2__titulo span {
  display: block;
  color: #f26722;
}

.section2__subtitulo {
  font-size: 40px;
  color: #000;
}

.section2__texto {
  font-size: 28px;
  margin-top: 20px;
}

.section2__container__texto {
  margin: 167px 300px;
}

.section2__container {
  border-left: 32px solid #fb7d00;
}
