
.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
}

.carousel-overlay {
  position: absolute;
  top: 35%;
  left: 15%;
  transform: translate(-50%, -30%);
  width: 554px;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-color: transparent;
  color: #fff;
}

.carousel-overlay h1 {
  font-size: 40px;
  margin-left: 100px;
}

.carousel-overlay p {
  font-size: 21px;
  margin-left: 100px;
}

.carousel-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.carousel-description {
  font-size: 16px;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-dots {
  margin-left: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top: 300%;
}
.carousel-content{
  position: absolute;
  top: 2%;
}
.carousel-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: #E0752F;
}

@media screen and (max-width: 768px) {
  .carousel-overlay {
    top: 30%;
    width: 100%;
    max-width: 300px;
    padding: 10px;
  }

  .carousel-overlay h1 {
    font-size: 24px;
    margin-left: 0;
  }

  .carousel-overlay p {
    font-size: 14px;
    margin-left: 0;
  }
}
.readmore-btn {
   margin-bottom: 69px;
  margin-left: 17%;
  background-color: #ff8800;
  color: #fff;
  border: none;
  width: 144px;
  height: 45px;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
.cuerpo {
  border-top: 1px solid #ccc;
}
.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
}