.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }

  .carousel-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .carousel-description {
    font-size: 16px;
  }

  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel-dots {
    position: absolute;
    top: 55%;
    left: 5%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 5px;
    cursor: pointer;
  }



  .carousel-dot.active {
    background-color: #ff0000;
  }
